# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Planet-golf.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\HomeLocalUser\Documents\Unity projects\Planet-golf\.idea\.idea.Planet-golf\.idea/dataSources/
/dataSources.local.xml
